.Person {
    width: 45%;
    margin: auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    margin-top: 20px;
    text-align: center;
}


/* commenting out below so we can use radium where we might 
need to use styling just for component or adding css dynamically */
/* @media(min-width: 500px){
    .Person {
        width: 450px;
    }
} */